<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to StudyGuard!</h1>
    <p>
      You have been invited to join a group! Just follow this link: <%= @url %>.<br/>
    </p>
  </body>
</html>
